/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

input {
  outline: none;
  font-size: 20px;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.header {
  color: #fff;
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  background: rgba(0, 0, 0, 0.2);
}
.header__content {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
}
.header__content.is-scrolled {
  background-color: black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  height: auto !important;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.header__logo a {
  width: 90px;
  height: 84px;
}
.header__logo a img {
  max-width: 100%;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1.6;
}
.header__navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  gap: 24px;
  color: #fff;
}
.header__navbar-list a {
  position: relative;
  color: #fff;
}
.header__navbar-list a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
.header__navbar-list a:hover::after {
  transform: scaleX(1);
}
.header__media {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 11px;
}
.header__media-phone {
  color: #fff;
}
.header__media-icons {
  position: relative;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: all 0.6s;
}
.header__media-icons:hover {
  background: #fff;
}
.header__media-icons:hover svg path {
  fill: #000;
}
.header__media-icons svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__media-icons svg path {
  transition: all 0.6s;
}
.header__burger-menu {
  display: none;
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10000;
}
.header__burger-menu .burger__inner {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border-radius: 50px;
  transition: 0.3s;
  z-index: 10000;
}
.header__burger-menu .burger__inner:first-child {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger-menu .burger__inner:nth-child(2) {
  top: 0;
}
.header__burger-menu .burger__inner:nth-child(3) {
  bottom: 0;
}
.header__burger-menu.active span {
  background: #fff !important;
}
.header__burger-menu.active .burger__inner:first-child {
  opacity: 0;
}
.header__burger-menu.active .burger__inner:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header__burger-menu.active .burger__inner:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .hero {
  position: relative;
  height: 90vh;
  padding-bottom: 40px;
  overflow: hidden;
}
.header .hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(80%);
}
.header .hero__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.header .hero__title {
  font-family: Epilogue, serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 108px;
  letter-spacing: -4px;
  max-width: 950px;
  margin-bottom: 24px;
}
.header .hero__text {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  width: 520px;
  margin-bottom: 46px;
}
.header .hero__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.header .hero__explore {
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Jost, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  gap: 12px;
}
.header .hero__explore span {
  color: #fff;
}

@media screen and (max-width: 1470px) {
  .header__container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .header__navbar {
    flex: 1.8;
  }
  .header .hero__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .header .hero__title {
    font-family: Epilogue, serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -4px;
  }
  .header .hero__text {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1220px) {
  .header__container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .header__navbar {
    flex: 4;
  }
  .header .hero {
    padding-top: 160px;
  }
  .header .hero__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .header .hero__title {
    font-family: Epilogue, serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -4px;
    max-width: 455px;
    margin-bottom: 15px;
  }
  .header .hero__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    max-width: 375px;
    margin-bottom: 20px;
  }
  .header .hero__explore {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.36px;
  }
  .header .hero__explore img {
    width: 25px;
  }
}
@media screen and (max-width: 920px) {
  .header__container {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .header__logo {
    font-family: Freeman, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
    gap: 10px;
  }
  .header__logo img {
    max-width: 32px;
  }
  .header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #0b0b0b;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  .header__navbar.active {
    transform: translateX(0);
  }
  .header__navbar-menu {
    flex-direction: column;
    gap: 24px;
    margin-top: 25px;
  }
  .header__media {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
  }
  .header__media-phone {
    text-align: center;
    grid-area: 1/1/2/5;
  }
  .header__burger-menu {
    display: block;
    z-index: 100000;
  }
  .header .hero__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .header .hero__title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -4px;
  }
  .header .hero__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.32px;
    max-width: 305px;
  }
  .header .hero__explore {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.36px;
  }
}
@media screen and (max-width: 630px) {
  .header__container {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .header__logo img {
    max-width: 40px;
  }
  .header__logo span {
    display: none;
  }
  .header .hero {
    margin-top: 0;
  }
  .header .hero__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .header .hero__title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -4px;
    width: 335px;
  }
  .header .hero__explore {
    align-self: center;
  }
  .header .hero__buttons {
    gap: 10px;
    flex-direction: column;
    align-items: start;
  }
}
.aboutUs__content {
  padding: 160px 0;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.aboutUs__top-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.aboutUs__title {
  font-family: Epilogue, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1.5px;
  max-width: 608px;
}
.aboutUs__text {
  max-width: 544px;
}
.aboutUs__text-first {
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
.aboutUs__text-second {
  color: #929191;
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-bottom: 40px;
}
.aboutUs__text-button {
  height: 100%;
}
.aboutUs__bottom-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}
.aboutUs__bottom-block .box {
  max-width: 320px;
}
.aboutUs__bottom-block .box__count {
  font-family: Epilogue, serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: -2.1px;
  margin-bottom: 10px;
}
.aboutUs__bottom-block .box__title {
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
.aboutUs__bottom-block .box__text {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #9f9f9f;
}

@media screen and (max-width: 1470px) {
  .aboutUs__content {
    padding: 100px 0;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .aboutUs__title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
  }
  .aboutUs__text {
    max-width: 544px;
  }
  .aboutUs__text-first {
    font-family: Jost, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-bottom: 20px;
  }
  .aboutUs__text-second {
    font-family: Jost, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    max-width: 450px;
    margin-bottom: 35px;
  }
  .aboutUs__text-button {
    height: 100%;
  }
  .aboutUs__bottom-block {
    margin-top: 80px;
  }
  .aboutUs__bottom-block .box__count {
    font-family: Epilogue, serif;
    font-size: 65px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.1px;
    margin-bottom: 10px;
  }
  .aboutUs__bottom-block .box__title {
    font-family: Jost, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-bottom: 24px;
  }
  .aboutUs__bottom-block .box__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    max-width: 254px;
  }
}
@media screen and (max-width: 1220px) {
  .aboutUs__content {
    padding: 50px 0;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .aboutUs__top-block {
    flex-direction: column;
  }
  .aboutUs__title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 470px;
    margin-bottom: 25px;
  }
  .aboutUs__text {
    max-width: 544px;
  }
  .aboutUs__text-first {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.48px;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .aboutUs__text-second {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.48px;
    max-width: 350px;
    margin-bottom: 25px;
  }
  .aboutUs__bottom-block {
    margin-top: 60px;
  }
  .aboutUs__bottom-block .box__count {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -2.1px;
    margin-bottom: 10px;
  }
  .aboutUs__bottom-block .box__title {
    font-family: Jost, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-bottom: 10px;
  }
  .aboutUs__bottom-block .box__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 215px;
  }
}
@media screen and (max-width: 920px) {
  .aboutUs__content {
    padding: 50px 0;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .aboutUs__title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 345px;
    margin-bottom: 10px;
  }
  .aboutUs__text {
    max-width: 310px;
  }
  .aboutUs__text-first {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 310px;
    margin-bottom: 10px;
  }
  .aboutUs__text-second {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 255px;
    margin-bottom: 15px;
  }
  .aboutUs__bottom-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px;
  }
  .aboutUs__bottom-block .box__count {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -2.1px;
  }
  .aboutUs__bottom-block .box__title {
    font-family: Jost, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-top: 6px;
  }
  .aboutUs__bottom-block .box__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 215px;
  }
}
@media screen and (max-width: 630px) {
  .aboutUs__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .aboutUs__title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
  }
  .aboutUs__text {
    max-width: 310px;
  }
  .aboutUs__text-first {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.48px;
    margin-bottom: 10px;
  }
  .aboutUs__text-second {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.48px;
    margin-bottom: 15px;
  }
}
.ourServices__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.ourServices__content-title {
  font-family: Epilogue, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1.5px;
  max-width: 733px;
  margin-bottom: 24px;
}
.ourServices__content-text {
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  max-width: 659px;
  color: #929191;
}
.ourServices__services-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #929191;
  gap: 40px;
}
.ourServices__services-info {
  flex: 1;
  width: 100%;
}
.ourServices__services-image {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 264px;
  flex: 1;
}
.ourServices__info-upperText {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  padding-left: 16px;
  border-left: 3px solid #1b5d37;
  margin-bottom: 24px;
}
.ourServices__info-title {
  font-family: Epilogue, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.2px;
  margin-bottom: 18px;
}
.ourServices__info-text {
  font-family: Jost, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  color: #929191;
  margin-bottom: 40px;
}

@media screen and (max-width: 1470px) {
  .ourServices {
    padding: 100px 0 120px;
  }
  .ourServices__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .ourServices__content-title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 660px;
    margin-bottom: 20px;
  }
  .ourServices__content-text {
    font-family: Jost, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    max-width: 545px;
  }
  .ourServices__services-block {
    padding: 50px 0;
  }
}
@media screen and (max-width: 1220px) {
  .ourServices {
    padding: 50px 0 60px;
  }
  .ourServices__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .ourServices__content-title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 578px;
    margin-bottom: 10px;
  }
  .ourServices__content-text {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.48px;
    max-width: 437px;
  }
  .ourServices__services-block {
    padding: 30px 0;
  }
  .ourServices__info-upperText {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    padding-left: 16px;
    margin-bottom: 15px;
  }
  .ourServices__info-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.2px;
    margin-bottom: 13px;
  }
  .ourServices__info-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.36px;
    max-width: 410px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 920px) {
  .ourServices__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .ourServices__content-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 420px;
  }
  .ourServices__content-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 314px;
  }
  .ourServices__services-block {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .ourServices__services-image {
    flex: none;
  }
}
@media screen and (max-width: 630px) {
  .ourServices__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .ourServices__content-title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
    max-width: 327px;
  }
  .ourServices__content-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.48px;
    max-width: 257px;
  }
  .ourServices__info-title {
    font-family: Epilogue, serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.2px;
  }
}
.whyUs {
  padding: 160px 0;
}
.whyUs__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.whyUs__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whyUs__top-title {
  font-family: Epilogue, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1.5px;
  max-width: 700px;
}
.whyUs__top-text {
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  color: #929191;
  max-width: 437px;
}
.whyUs__bottom {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.whyUs__bottom-block {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  min-height: 350px;
  max-width: 437px;
  padding: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 8px #9e9c9c;
}
.whyUs__bottom-block img {
  padding: 20px;
  border-radius: 50px;
  margin-bottom: auto;
}
.whyUs__bottom-block-title {
  font-family: Epilogue, serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -1.08px;
}
.whyUs__bottom-block-text {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-top: 16px;
}
.whyUs__bottom .block_green {
  background: #1b5d37;
  color: #fff;
}
.whyUs__bottom .block_green img {
  border: 1px solid #fff;
}
.whyUs__bottom .block_white {
  background: #eeeeee;
}
.whyUs__bottom .block_white img {
  border: 1px solid #1b5d37;
}
.whyUs__bottom .block_white .whyUs__bottom-block-title {
  color: #000;
}
.whyUs__bottom .block_white .whyUs__bottom-block-text {
  color: #8f8f8f;
}

@media screen and (max-width: 1470px) {
  .whyUs {
    padding: 100px 0;
  }
  .whyUs__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .whyUs__top-title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 535px;
  }
  .whyUs__top-text {
    font-family: Jost, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    max-width: 422px;
  }
  .whyUs__bottom {
    padding-top: 80px;
  }
  .whyUs__bottom-block {
    max-width: 420px;
    padding: 25px;
  }
  .whyUs__bottom-block-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.08px;
    margin-top: 125px;
    max-width: 222px;
  }
  .whyUs__bottom-block-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.32px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 1220px) {
  .whyUs {
    padding: 0 0 50px 0;
  }
  .whyUs__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .whyUs__top {
    flex-direction: column;
    text-align: center;
  }
  .whyUs__top-title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 535px;
    margin-bottom: 20px;
  }
  .whyUs__top-text {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.48px;
    max-width: 422px;
  }
  .whyUs__bottom {
    padding-top: 0;
  }
}
@media screen and (max-width: 920px) {
  .whyUs__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .whyUs__top-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 344px;
    margin-bottom: 20px;
  }
  .whyUs__top-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 327px;
  }
  .whyUs__bottom {
    padding-top: 50px;
  }
  .whyUs__bottom-block {
    max-width: 285px;
    padding: 15px;
    min-height: 200px;
  }
  .whyUs__bottom-block img {
    padding: 8px;
  }
  .whyUs__bottom-block-title {
    font-family: Epilogue, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.08px;
    margin-top: 70px;
    max-width: 130px;
  }
  .whyUs__bottom-block-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.32px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 630px) {
  .whyUs__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .whyUs__top-title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
    max-width: 327px;
  }
  .whyUs__top-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.48px;
    max-width: 257px;
  }
  .whyUs__bottom {
    padding-top: 30px;
  }
}
.ourCollection__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.ourCollection__content-title {
  font-family: Epilogue, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1.5px;
  max-width: 733px;
  margin-bottom: 24px;
}
.ourCollection__content-text {
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.48px;
  max-width: 659px;
  color: #929191;
}
.ourCollection__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 40px 25px;
  padding: 100px 0;
}
.ourCollection__menu-links {
  display: flex;
  justify-content: start;
  align-items: space-between;
  flex-direction: column;
  gap: 24px;
  grid-area: 1/1/3/2;
}
.ourCollection__menu-link {
  color: #767676;
  font-family: Jost, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
  transition: all 0.4s;
}
.ourCollection__menu-link:hover {
  transform: translateX(50px) scale(1.2);
  color: #1b5d37;
}
.ourCollection__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.ourCollection__menu-img {
  height: 318px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
}
.ourCollection__menu-title {
  font-family: Jost, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.6px;
  margin-bottom: 10px;
}
.ourCollection__menu-text {
  color: #6d6d6d;
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  max-width: 320px;
  margin-bottom: 30px;
}
.ourCollection__menu-button {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  padding: 10px 30px;
  border: 1px solid #1b5d37;
  border-radius: 50px;
  color: #000;
  transition: all 0.4s;
}
.ourCollection__menu-button:hover {
  background: #1b5d37;
  color: #fff;
}

@media screen and (max-width: 1470px) {
  .ourCollection__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .ourCollection__content-title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 642px;
    margin-bottom: 20px;
  }
  .ourCollection__content-text {
    font-family: Jost, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.48px;
    max-width: 638px;
  }
}
@media screen and (max-width: 1220px) {
  .ourCollection__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .ourCollection__content-title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 565px;
    margin-bottom: 10px;
  }
  .ourCollection__content-text {
    font-family: Jost, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.48px;
    max-width: 395px;
  }
  .ourCollection__menu {
    gap: 30px 20px;
    padding: 50px 0;
  }
  .ourCollection__menu-link {
    font-family: Jost, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.36px;
    transition: all 0.4s;
  }
  .ourCollection__menu-link:hover {
    transform: translateX(50px) scale(1.2);
    color: #1b5d37;
  }
  .ourCollection__menu-img {
    height: 250px;
    margin-bottom: 18px;
  }
  .ourCollection__menu-title {
    font-family: Jost, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
  .ourCollection__menu-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 220px;
    margin-bottom: 20px;
  }
  .ourCollection__menu-button {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}
@media screen and (max-width: 920px) {
  .ourCollection__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .ourCollection__content-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 412px;
  }
  .ourCollection__content-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 370px;
  }
  .ourCollection__menu {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto);
  }
  .ourCollection__menu-links {
    grid-area: 1/1/5/1;
  }
  .ourCollection__menu-link {
    font-family: Jost, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.36px;
    transition: all 0.4s;
  }
  .ourCollection__menu-link:hover {
    transform: translateX(50px) scale(1.2);
    color: #1b5d37;
  }
  .ourCollection__menu-img {
    height: 250px;
    margin-bottom: 18px;
  }
  .ourCollection__menu-title {
    font-family: Jost, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
  .ourCollection__menu-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 220px;
    margin-bottom: 20px;
  }
  .ourCollection__menu-button {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}
@media screen and (max-width: 630px) {
  .ourCollection__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .ourCollection__content-title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
    max-width: 320px;
  }
  .ourCollection__content-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.48px;
    max-width: 235px;
  }
  .ourCollection__menu {
    grid-template-columns: 1fr;
  }
  .ourCollection__menu-links {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ourCollection__menu-link {
    font-family: Jost, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.36px;
    transition: all 0.4s;
  }
  .ourCollection__menu-link:hover {
    transform: translateY(-10px) scale(1.1);
    color: #1b5d37;
  }
  .ourCollection__menu-img {
    height: 250px;
    margin-bottom: 18px;
  }
  .ourCollection__menu-title {
    font-family: Jost, serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
  }
  .ourCollection__menu-text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 220px;
    margin-bottom: 20px;
  }
  .ourCollection__menu-button {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}
.testimonials {
  padding: 100px 0;
}
.testimonials__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.testimonials__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__content-title {
  font-family: Epilogue, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1.5px;
  width: 733px;
  margin-bottom: 100px;
}
.testimonials__content-bottom {
  margin-top: 60px;
  overflow: hidden;
}
.testimonials__content-bottom-inner {
  display: flex;
  gap: 24px;
  transition: 0.5s ease;
}
.testimonials__content-bottom .testimonial {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  min-width: 437px;
  padding: 0;
  background: transparent;
  gap: 10px;
  border-bottom: 1px solid #1f6b3f;
  border-radius: 0;
}
.testimonials__content-bottom .testimonial__image {
  width: 100%;
  height: 300px;
}
.testimonials__content-bottom .testimonial__text {
  margin-bottom: 0;
}
.testimonials__content-bottom .testimonial__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.testimonials__content-bottom .testimonial__bottom-date {
  color: #1f6b3f;
}
.testimonials__content-bottom .testimonial__bottom-btn {
  background: #1f6b3f;
  padding: 3% 4%;
}
.testimonials__slider-controler {
  display: flex;
  align-items: center;
  gap: 30px;
}
.testimonials__slider-controler .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.testimonials__slider-controler .arrow:hover {
  background: #1f6b3f;
}
.testimonials__slider-controler .arrow:hover svg path {
  fill: #fff;
}
.testimonials__slider-controler .slider-line {
  width: 160px;
  height: 4px;
  background: #e0e0e0;
  border-radius: 10px;
  position: relative;
}
.testimonials__slider-controler .slider-line .slider-progress {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 4px;
  background: #1f6b3f;
  border-radius: 10px;
  transform: translateY(-50%);
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1470px) {
  .testimonials {
    padding: 0 0 50px 0;
  }
  .testimonials__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .testimonials__content-title {
    font-family: Epilogue, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    max-width: 642px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1220px) {
  .testimonials {
    margin-top: 50px;
  }
  .testimonials__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .testimonials__content-top {
    flex-direction: column;
  }
  .testimonials__content-title {
    font-family: Epilogue, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .testimonials__content-bottom .testimonial {
    padding: 0;
  }
}
@media screen and (max-width: 920px) {
  .testimonials__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .testimonials__content-top {
    flex-direction: column;
  }
  .testimonials__content-title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 320px;
  }
}
@media screen and (max-width: 630px) {
  .testimonials__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .testimonials__content-title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
    max-width: 250px;
  }
  .testimonials__content-bottom .testimonial {
    min-width: 300px;
    padding: 0;
  }
  .testimonials__content-bottom .testimonial__image {
    height: 230px;
  }
}
.callToAction {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 100px 0;
  color: #fff;
}
.callToAction__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.callToAction__title {
  font-family: Epilogue, serif;
  font-size: 93.61px;
  font-weight: 400;
  line-height: 101.93px;
  letter-spacing: -2.808px;
  max-width: 942px;
  margin-bottom: 20px;
}
.callToAction__text {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  width: 532px;
  margin-bottom: 60px;
}
.callToAction__input {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 50px;
  background: #fff;
  gap: 20px;
}
.callToAction__input input {
  width: 210px;
}

@media screen and (max-width: 1470px) {
  .callToAction {
    padding: 50px 0;
    color: #fff;
  }
  .callToAction__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .callToAction__title {
    font-family: Epilogue, serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -2.808px;
    max-width: 650px;
  }
  .callToAction__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    max-width: 460px;
    margin-bottom: 0;
  }
  .callToAction__input {
    padding: 12px 26px;
  }
}
@media screen and (max-width: 1220px) {
  .callToAction__title {
    font-family: Epilogue, serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -2.808px;
    max-width: 410px;
    margin-bottom: 0;
  }
  .callToAction__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.32px;
    max-width: 388px;
    margin-bottom: 0;
  }
  .callToAction__input {
    padding: 12px 26px;
  }
  .callToAction__input input {
    font-size: 14px;
  }
}
@media screen and (max-width: 920px) {
  .callToAction__title {
    font-family: Epilogue, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.5px;
    max-width: 235px;
  }
  .callToAction__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.32px;
    max-width: 318px;
  }
  .callToAction__input {
    padding: 5px 10px;
    gap: 0;
  }
  .callToAction__input input {
    width: 110px;
  }
}
@media screen and (max-width: 630px) {
  .callToAction__title {
    font-family: Epilogue, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1.5px;
    max-width: 235px;
  }
  .callToAction__text {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.32px;
    max-width: 256px;
  }
  .callToAction__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .callToAction__input input {
    width: 100%;
  }
}
.footer {
  background: #000;
  padding: 60px 0;
}
.footer__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #6b6b6b;
}
.footer__top-title {
  font-family: Freeman, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: #fff;
  margin-bottom: 86px;
  flex: 1;
}
.footer__top-title img {
  width: 80%;
}
.footer__top-leftMenu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 11px;
  flex: 1;
  width: 100%;
}
.footer__top-leftList {
  position: relative;
  padding: 25px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: all 0.6s;
}
.footer__top-leftList:hover {
  background: #fff;
}
.footer__top-leftList:hover svg path {
  fill: #000;
}
.footer__top-leftList svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: inherit;
}
.footer__top-leftList svg path {
  transition: all 0.6s;
}
.footer__top-rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.footer__top-rightMenu {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
.footer__top-rightList p {
  margin-bottom: 24px;
  color: #fff;
  font-family: Jost, serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.footer__top-rightList a {
  color: #929191;
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  transition: all 0.4s;
}
.footer__top-rightList a:hover {
  color: #fff;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.footer__copyright p,
.footer__copyright a {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #a5a4a4;
}
.footer__copyright-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer__copyright-policy a {
  transition: all 0.4s;
}
.footer__copyright-policy a:hover {
  color: #fff;
}
.footer__bottom {
  margin-top: 30px;
}
.footer__bottom-logo {
  font-family: Freeman, serif;
  font-size: 239.846px;
  font-weight: 400;
  line-height: 303.805px;
  letter-spacing: -4.797px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 120px;
}
.footer__bottom-logo img {
  width: 400px;
}

@media screen and (max-width: 1470px) {
  .footer {
    padding: 30px 0;
  }
  .footer__content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #6b6b6b;
  }
  .footer__top-title {
    font-family: Freeman, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    margin-bottom: 72px;
  }
  .footer__top-leftList {
    padding: 22px;
  }
  .footer__top-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .footer__top-rightMenu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }
  .footer__top-rightList p {
    margin-bottom: 15px;
  }
  .footer__copyright {
    padding-top: 35px;
  }
  .footer__bottom-logo {
    font-family: Freeman, serif;
    font-size: 200px;
    font-weight: 400;
    line-height: 250px;
    letter-spacing: -4.797px;
    gap: 50px;
  }
}
@media screen and (max-width: 1220px) {
  .footer {
    padding: 20px 0;
  }
  .footer__content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
  .footer__top {
    flex-direction: column;
    gap: 70px;
  }
  .footer__top-title {
    font-family: Freeman, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    margin-bottom: 0;
    text-align: center;
  }
  .footer__top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .footer__top-leftMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__top-leftList {
    padding: 22px;
  }
  .footer__top-rigth {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__top-rightMenu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }
  .footer__top-rightList p {
    margin-bottom: 15px;
  }
  .footer__copyright {
    padding-top: 35px;
  }
  .footer__bottom-logo {
    font-family: Freeman, serif;
    font-size: 160px;
    font-weight: 400;
    line-height: 212px;
    letter-spacing: -4.797px;
    gap: 50px;
  }
}
@media screen and (max-width: 920px) {
  .footer__content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  .footer__top {
    flex-direction: column;
    gap: 70px;
  }
  .footer__top-title {
    font-family: Freeman, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    margin-bottom: 0;
  }
  .footer__top-title img {
    width: 50%;
  }
  .footer__top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .footer__top-leftList {
    padding: 22px;
  }
  .footer__top-rigth {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__top-rightMenu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }
  .footer__top-rightList p {
    margin-bottom: 15px;
  }
  .footer__copyright {
    padding-top: 20px;
  }
  .footer__copyright p,
  .footer__copyright a {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
  .footer__bottom-logo {
    font-family: Freeman, serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: -4.797px;
    gap: 50px;
  }
}
@media screen and (max-width: 630px) {
  .footer__content {
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
  }
  .footer__top {
    flex-direction: column;
    gap: 40px;
  }
  .footer__top-title {
    font-family: Freeman, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.8px;
    margin-bottom: 0;
  }
  .footer__top-title img {
    width: 50%;
  }
  .footer__top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .footer__top-leftList {
    padding: 17px;
  }
  .footer__top-leftList svg {
    width: 20px;
    height: inherit;
  }
  .footer__top-rigth {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer__top-rightMenu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }
  .footer__top-rightList p {
    margin-bottom: 15px;
  }
  .footer__copyright {
    padding-top: 20px;
  }
  .footer__copyright p,
  .footer__copyright a {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
  .footer__bottom-logo {
    font-family: Freeman, serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -1px;
  }
  .footer__bottom-logo img {
    display: none;
  }
}
body.lock {
  overflow: hidden;
  touch-action: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@keyframes arrowBack {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.mainBtn {
  border-radius: 50px;
  gap: 50px;
}
.mainBtn a {
  font-family: Jost, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 10px 10px 10px 30px;
  border: 3px solid #1b5d37;
  background: #1b5d37;
  gap: 50px;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  transition: 0.4s;
}
.mainBtn a svg {
  background: #fff;
  border-radius: 50px;
  transition: 0.4s;
  transform: translate(0, 0) scale(1);
  width: 35px;
  height: 35px;
}
.mainBtn a svg path {
  transition: 0.4s;
}
.mainBtn a svg.fly {
  animation: rotateArrow 0.5s ease forwards;
}
.mainBtn a svg.back {
  animation: arrowBack 0.5s ease forwards;
}
.mainBtn a:hover {
  background: #fff;
  color: #1b5d37;
}
.mainBtn a:hover svg {
  background: #1b5d37;
}
.mainBtn a:hover svg path {
  stroke: #fff;
}

.whiteBtn {
  border-radius: 50px;
  gap: 50px;
}
.whiteBtn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 15px 20px;
  border: 3px solid #fff;
  background: #fff;
  color: #000;
  gap: 50px;
  transition: 0.4s;
}
.whiteBtn a:hover {
  border: 3px solid #1b5d37;
  color: #1b5d37;
}

@media screen and (max-width: 1220px) {
  .mainBtn {
    gap: 20px;
  }
  .mainBtn a {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    padding: 5px 5px 5px 20px;
    gap: 20px;
  }
  .mainBtn a svg {
    width: 25px;
    height: 25px;
  }
  .whiteBtn {
    gap: 20px;
  }
  .whiteBtn a {
    font-family: Jost, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    padding: 5px 20px;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 920px) {
  .mainBtn a svg {
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */